name: CI - Lint & DVC Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint-and-dvc:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install dvc[s3]  # добавь нужные remote'ы если используешь их
          pip install flake8 black

      - name: Run lint (flake8)
        run: flake8 src

      - name: Pull DVC
        run: |
          dvc pull || echo "No remote cache, skipping pull"

      - name: Run DVC pipeline
        run: dvc repro

      - name: Show pipeline outputs
        run: ls -R data/processed models
