name: CI - Lint & DVC Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint-and-dvc:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.2'

      - name: Cache pip dependencies
        uses: actions/cache@v4
        with:
            path: ~/.cache/pip
            key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
            restore-keys: |
                ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install dvc[s3]  # добавь нужные remote'ы если используешь их
          pip install flake8 black

      - name: Run lint (flake8)
        run: flake8 src/data src/features src/model src/setup

      - name: Configure DVC remote
        run: |
            dvc remote add -f dvcremote s3://mlflow-artifacts/
            dvc remote modify dvcremote access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
            dvc remote modify dvcremote secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Pull DVC data
        run: dvc pull

      - name: Run DVC pipeline
        run: dvc repro

      - name: Show pipeline outputs
        run: ls -R data/processed models
